.menu {
    float: right;
}
header {
    overflow: hidden;
    background-color: white;
    padding: 20px 10px;
}
header a {
    float: left;
    color: #05386b;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
}
header a:hover {
    background-color: #68aa84;
    color: white;
}
.home {
    background-color: #68aa84;
    width: 100%;
    height: auto;
    text-align: center;
    color: #05386b;
    padding: 1%;
   
}
.newton {
    border-radius: 50%;
    width: 25%;
    height: 25%;
    
}
.fa {
    padding: 3%;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    color: #05386b;
}
.fa:hover {
    opacity: 0.7;
}
.my-portfolio img {
    height: 25em;
}
.my-portfolio {
    padding-top: 1%;
}
.card {
    padding: 2%;
    border: none;
}
.about-me{
    text-align: center;
    background-color: #68aa84;
    padding-top: 1%;
    height: 17rem;
    padding-right: 1%;
    overflow-y:auto;

}
.about-me p{
    text-align: left;
    padding-left: 5%;
    color: #05386b;
    float: left;
}
ul {
    list-style-type: none;
}
.details-about-me {
   float: right;
}

.download-btn {
    padding-top: 10%;
    float: left;
}
.container {
    border: 2px solid red;
    border-radius: 5px;
    padding-top: 2.5%;
    padding-bottom: 2%;
    background-color: #8ee4af23;
}