.menu {
    float: right;
}
header {
    overflow: hidden;
    background-color: white;
    padding: 20px 10px;
}
header a {
    float: left;
    color: #05386b;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
}
header a:hover {
    background-color: #68aa84;
    color: white;
}
.home {
    background-color: #68aa84;
    width: 100%;
    height: auto;
    text-align: center;
    color: #05386b;
    padding: 1%;
   
}
.newton {
    border-radius: 50%;
    width: 25%;
    height: 25%;
    
}
.fa {
    padding: 3%;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    color: #05386b;
}
.fa:hover {
    opacity: 0.7;
}
.my-portfolio img {
    height: 25em;
}
.my-portfolio {
    padding-top: 1%;
}
.card {
    padding: 2%;
    border: none;
}
.about-me{
    text-align: center;
    background-color: #68aa84;
    padding-top: 1%;
    padding-right: 1%;
    overflow-y:auto;
    padding-bottom:1rem;

}
.about-me p{
    text-align: left;
    padding-left: 5%;
    color: #05386b;
    float: left;
}
ul {
    list-style-type: none;
}
.details-about-me {
   float: right;
}

.download-btn {
    padding-top: 10%;
    float: left;
}
.container {
    border-radius: 5px;
    padding-top: 2.5%;
    padding-bottom: 2%;
}
body {
    color: #05386b;
}
h2 {
    color: #273746de;
}
.hobbies {
    padding-top: 2%;
}
.hobbies img {
    height: 26em;

}

#hobby-card {
    position: relative;
    width: 50%;
}
.hobby-image{
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  overflow:hidden;
  background-color: #68aa845b;
  
}

#hobby-card:hover .overlay {
  opacity: 1;
}

.text {
  color: #05386b;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bolder;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
#contact {
    background: #68aa84;
}
.footer-paralax {
    padding: 4rem 0 0 0;
  }
  
  .contact-mf {
    margin-top: 4rem;
  }
  @media (min-width: 767px) {
    .contact-mf .box-pl2 {
      margin-top: 3rem;
      padding-left: 0rem;
    }
  }
  
  .php-email-form .error-message {
    display: none;
    color: #05386b;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  .php-email-form .sent-message {
    display: none;
    color: #05386b;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }
  .php-email-form input, .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }
  .php-email-form input:focus, .php-email-form textarea:focus {
    border-color: #0078ff;
  }
  .php-email-form input {
    padding: 10px 15px;
  }
  .php-email-form textarea {
    padding: 12px 15px;
    margin-bottom: 0;
  }
  .php-email-form button[type=submit] {
    background: #0078ff;
    border: 0;
    padding: 10px 24px;
    color: #05386b;
    transition: 0.4s;
  }
  .php-email-form button[type=submit]:hover {
    background: #3393ff;
  }
  
  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


  /*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
    text-align: center;
    color: #05386b;
    padding: 25px 0;

  }
  footer .copyright {
    margin-bottom: 0.3rem;
  }
  footer .credits {
    margin-bottom: 0;
  }
  footer .credits a {
    color: #05386b;
  }