@media screen and (min-width: 480px) {
    body {
    background-image: url(../images/dandelion.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-size: larger;
    margin-left: 200px;
    margin-bottom: 100px;
    }
}

h1 {color: navy;
text-align: left;
font-family:  sans-serif;
font-size: 40px;
}
.ordered-list {
    list-style-position: inside;
    text-align: left;
    color: rgb(3, 3, 66);

}
.unordered-list {
    list-style-position: inside;
    text-align: left;
    color: rgb(41, 4, 70);
    font-size: 20px;
}
h2 {
    color: black;
    font-size: 35px;
    font-style: oblique;
}
p  {
    font-size: 23px;

}
.img {
    float: right;
    margin-right: 10px;
}
img {
    border-radius: 50%;
    width: 230px;
}
a {
    text-decoration: none;
    color: navy;
}
.footer {
    position:fixed;
    text-align: center;
    color: rgb(19, 16, 16);
    font-size: 40px;
    background-color: rgb(53, 65, 65);
    bottom: 0cm;
    right: 0cm;
    left: 0cm;
    padding-top: 25px;
} 
.button {
    color: black;
    display: inline-block;
    font-size: 25px;
    padding: 5px 15px;
    border: none;    
    border-style:groove;
}
input {
    height: 26px;
}
em {
    font-style:italic;
    color:navy;
}
abbr {
    text-decoration: none;
}
.content {
    
}