body {
    background-image: url(../images/skateboard.jpeg);
    background-size: cover;
    background-attachment: fixed;
    font-size: larger;
}
h1 {color: purple;
text-align: left;
font-family:  sans-serif;
font-size: 40px;
}
.ordered-list {
    list-style-position: inside;
    text-align: left;
    color: rgb(117, 55, 55);

}
.unordered-list {
    list-style-position: inside;
    text-align: left;
    color: rgb(93, 85, 165);
}
h2 {
    color: black;
    font-size: 35px;
    font-style: oblique;
}
p  {

}
.img {
    float: right;
}
img {
    border-radius: 50%;
}
a {
    text-decoration: none;
}
.footer {
    position:fixed;
    text-align: center;
    color: rgb(19, 16, 16);
    font-size: 40px;
    background-color: rgb(53, 65, 65);
    bottom: 0cm;
    right: 0cm;
    left: 0cm;
    padding-top: 25px;
} 
.button {
    color: black;
    display: inline-block;
    font-size: 25px;
    padding: 5px 15px;
    border: none;    
    border-style:groove;
}
input {
    height: 26px;
}