.menu {
    float: right;
    
}
header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
}
header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
}
header a:hover {
    background-color: #273746;
    color: white;
}
.home {
    background-color: #273746de;
    width: 100%;
    height: auto;
    text-align: center;
    color: #95A5A6;
    padding: 1%;
   
}
.newton {
    border-radius: 50%;
    width: 25%;
    height: 25%;
    
}
.fa {
    padding: 3%;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    color: #95A5A6;
}
.fa:hover {
    opacity: 0.7;
}
.my-portfolio img {
    height: 25em;
}
.my-portfolio {
    padding-top: 1%;
}
.card {
    padding: 2%;
    border: none;
}
.about-me{
    text-align: center;
    background-color: #273746de;
    padding-top: 1%;
}
.about-me p{
    text-align: left;
    padding-left: 15%;
    color: #95A5A6;
}